@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}
<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>Water Rev | Forgot Password Confirmation</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="bg-black">
    <div class="form-box" id="login-box">
        <div class="header">Forgot Password Confirmation</div>
        <div class="body bg-gray">
            <p>
                Please check your email to reset your password.
            </p>
        </div>
        <div class="footer">
        </div>
    </div>
</body>
</html>

