<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://syswaterev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>syswaterev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>syswaterev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$syswaterev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ivfvy7qw6b.database.windows.net,1433;Initial Catalog=syswaterev_db;User ID=syswaterrev@ivfvy7qw6b;Password=denali2012!" Name="Data Source=tcp:ivfvy7qw6b.database.windows.net,1433;Initial Catalog=syswaterev_db;User Id=syswaterrev@ivfvy7qw6b;Password=denali2012!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SysWaterRev.BusinessLayer.Models.ApplicationDbContext, SysWaterRev.BusinessLayer" MigrationConfiguration="SysWaterRev.BusinessLayer.Migrations.Configuration, SysWaterRev.BusinessLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ivfvy7qw6b.database.windows.net,1433;Initial Catalog=syswaterev_db;User Id=syswaterrev@ivfvy7qw6b;Password=denali2012!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>